/* Home Menu */
.home_menu_text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
.home_menu_row_bg {
  background-color: white;
}
.home_menu_bg {
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}
.home_menu_brand_name {
  font-weight: 500;
  font-size: 20px;
}
.home_menu_nav {
  align-items: center;
  column-gap: 30px;
}
.home_menu_nav_link {
  font-size: 16px;
  font-weight: 500;
  color: #1d1a27 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* Home Page */
.homepage_hero_parent_row {
  margin-top: 66px;
}
.homepage_hero_column {
  margin-top: 70px;
  margin-bottom: 30px;
}
.homepage_hero_title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.3;
  color: #1d1a27;
}
.homepage_hero_description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 28px 0px 50px 0px;
  color: #1d1a27;
  line-height: 1.5;
}
.homepage_btn {
  background-color: #ff793f;
  color: #1d1a27;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  font-family: "DM Sans", sans-serif;
}

.homepage_btn:focus {
  box-shadow: none;
  outline: none;
}

.homepage_hero_image_box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  column-gap: 30px;
  row-gap: 30px;
}

.homepage_hero_img {
  max-width: 210px;
  max-height: 210px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: contain;
}

.homepage_details_grid_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
  column-gap: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.homepage_details_rect_box {
  height: 162px;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  position: relative;
}
.homepage_details_title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 2px;
}
.homepage_details_description {
  font-size: 20px;
  font-weight: 400;
}

.homepage_hero_details_icon_box {
  position: absolute;
  left: 18px;
  top: 18px;
  background-color: #ff793f;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Section - 2 */
.home_subtitle {
  font-size: 32px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.home_sub_description {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.8;
  margin-bottom: 30px;
}
.home_sub_text_content {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.9;
  margin-bottom: 30px;
}
.home_border_btn {
  border: 1px solid #1d1a27;
  color: #1d1a27;
  padding: 6px 18px;
  font-size: 14px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
}
.home_border_btn:focus {
  box-shadow: none;
  outline: none;
}

/* Section - 3 */
.home_story_row {
  padding: 80px 0px;
}
.home_story_col {
  padding-top: 100px;
  padding-bottom: 100px;
}
.home_story_img {
  width: 70%;
}
.home_story_background_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1d1a27;
  margin-bottom: 12px;
}

/* Section - 4 */
.home_join_discord_outer_box {
  background-color: #ff793f;
  color: white;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 15px;
  border-radius: 10px;
}
.home_join_discord_col {
  padding-top: 60px;
  padding-bottom: 60px;
}
.home_join_discord_img {
  max-width: 348px;
  max-height: 348px;
  width: 100%;
  height: 100%;
}
.home_discord_btn {
  background-color: #1d1a27;
  color: white;
}
.home_discord_btn:hover {
  background-color: #1d1a27;
  color: white;
}

/* Section - 5 */
.home_release_map_row {
  padding: 80px 0px;
}
.home_release_roadmap_content_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  column-gap: 40px;
  row-gap: 40px;
  margin: 60px 0px;
  z-index: 6;
}
.home_release_roadmap_info_box {
  border: 1px solid #1d1a27;
  background-color: white;
  height: 100%;
  max-width: 600px;
  width: 100%;
  position: relative;
  padding: 15px;
}
.home_release_roadmap_info_box_yellow_bg {
  position: absolute;
  background-color: #ff793f;
  height: 100%;
  max-width: 600px;
  width: 100%;
  right: -7px;
  bottom: -7px;
  z-index: -1;
}
.home_release_roadmap_date {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #1d1a27;
  text-transform: uppercase;
}
.home_release_roadmap_info_title {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  margin-top: 4px;
}
.home_release_roadmap_info_description {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-top: 6px;
}
/* Section - 6 */
.home_royalty_row {
  background-color: rgba(149, 154, 156, 0.08);
  margin-top: 60px;
  margin-bottom: 60px;
}
.home_royalty_sub_row {
  padding: 60px 0px;
}
.home_royalty_col {
  padding-top: 60px;
  padding-bottom: 30px;
}
.home_royalty_grid_box {
  display: grid;
  grid-template-columns: minmax(340px, 340px);
  row-gap: 40px;
  column-gap: 30px;
  z-index: 7;
  justify-content: center;
}
.home_royalty_allocation_info_box {
  border: 1px solid #1d1a27;
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 60px 30px;
}
.home_royalty_allocation_info_box_yellow_bg {
  position: absolute;
  background-color: #ff793f;
  height: 100%;
  width: 100%;
  right: -7px;
  bottom: -7px;
  z-index: -1;
}
.home_royalty_allocation_info_percentage {
  font-size: 36px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.home_royalty_allocation_info_title {
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  margin-top: 14px;
}
.home_royalty_allocation_info_description {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-top: 18px;
  line-height: 1.7;
}

/* Section - 7 - Team */
.home_team_row {
  padding: 60px 0px;
}
.home_team_flex_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 160px;
  row-gap: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.home_team_img {
  max-width: 270px;
  max-height: 270px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.home_team_member_name {
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  margin-top: 18px;
  color: #1d1a27;
}
.home_team_member_twitter_handle {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  margin-top: 1px;
  color: #1d1a27;
}

.home_team_member_role {
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  margin-top: 2px;
  color: rgba(29, 26, 39, 0.7);
}

/* FAQ section  */
.home_faq_row {
  margin-top: 60px;
  margin-bottom: 60px;
}
.home_faq_col {
  padding-top: 60px;
  padding-bottom: 30px;
}

/* Footer */
.footer_col {
  padding-top: 80px;
  padding-bottom: 60px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Home page */
  .homepage_hero_title {
    font-size: 32px;
    line-height: 1.2;
  }
  .homepage_hero_description {
    font-size: 16px;
    line-height: 1.5;
  }
  .homepage_hero_column {
    margin-top: 40px;
    text-align: center;
  }
  .homepage_details_rect_box {
    height: 152px;
  }
  .homepage_details_title {
    font-size: 24px;
  }
  .homepage_details_description {
    font-size: 16px;
  }
  .home_subtitle {
    font-size: 24px;
  }
  .home_sub_description {
    font-size: 14px;
  }
  .home_sub_text_content {
    font-size: 14px;
  }
  .home_story_col {
    padding-top: 60px;
    padding-bottom: 0px;
    text-align: center;
  }
  .home_join_discord_outer_box {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .home_release_map_row {
    padding: 80px 0px 0px 0px;
  }
  .home_team_row {
    padding: 30px 0px;
  }
  .home_team_flex_box {
    column-gap: 60px;
  }
  .home_royalty_allocation_info_box {
    padding: 40px 24px;
  }
  .home_team_member_name {
    font-size: 16px;
  }
  .home_team_member_twitter_handle {
    font-size: 14px;
  }

  .home_team_member_role {
    font-size: 13px;
  }
  .home_join_discord_col {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .homepage_hero_image_box {
    column-gap: 20px;
    row-gap: 30px;
  }
  .homepage_hero_img {
    max-width: 150px;
    max-height: 150px;
  }
  .homepage_details_grid_box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 50px;
  }

  .home_royalty_grid_box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Home page */
  .homepage_hero_title {
    font-size: 32px;
    line-height: 1.2;
  }
  .homepage_hero_description {
    font-size: 16px;
    line-height: 1.5;
  }
  .homepage_hero_column {
    margin-top: 40px;
    text-align: center;
  }
  .homepage_details_rect_box {
    height: 152px;
  }
  .homepage_details_title {
    font-size: 24px;
  }
  .homepage_details_description {
    font-size: 16px;
  }
  .home_subtitle {
    font-size: 24px;
  }
  .home_sub_description {
    font-size: 14px;
  }
  .home_sub_text_content {
    font-size: 14px;
  }
  .home_story_col {
    padding-top: 60px;
    padding-bottom: 0px;
    text-align: center;
  }
  .home_join_discord_outer_box {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .home_release_map_row {
    padding: 80px 0px 0px 0px;
  }
  .home_team_row {
    padding: 30px 0px;
  }
  .home_team_flex_box {
    column-gap: 60px;
  }
  .home_royalty_allocation_info_box {
    padding: 40px 24px;
  }
  .home_team_member_name {
    font-size: 16px;
  }
  .home_team_member_twitter_handle {
    font-size: 14px;
  }

  .home_team_member_role {
    font-size: 13px;
  }
  .home_join_discord_col {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .homepage_hero_image_box {
    column-gap: 30px;
    row-gap: 30px;
  }
  .homepage_hero_img {
    max-width: 200px;
    max-height: 200px;
  }
  .homepage_details_grid_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 50px;
  }

  .home_royalty_grid_box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Home page */
  .homepage_hero_title {
    font-size: 48px;
    line-height: 1.2;
  }

  .homepage_hero_image_box {
    column-gap: 30px;
    row-gap: 30px;
  }
  .homepage_hero_img {
    max-width: 200px;
    max-height: 200px;
  }
  .homepage_details_grid_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Home page */
  .homepage_hero_image_box {
    column-gap: 30px;
    row-gap: 30px;
  }
  .homepage_hero_img {
    max-width: 224px;
    max-height: 224px;
  }
  .homepage_details_grid_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
